<link rel="stylesheet" href="~/css/heroBanner.style.css">

<div class="c-hero">
    <div class="c-hero-pattern">
        <div id="txt-scroll" class="c-hero-txt-scroll">
            <p class="c-scroll-txt-infi">
                マリオと一緒にデータ構造とアルゴリズムのエキサイティングな世界を探検しましょう
            </p>
        </div>
        <img class="c-hero-img c-block01 c-sc1" src="~/assets/img-block-01.png" alt="">
        <img class="c-hero-img c-block02 c-sc1" src="~/assets/img-block-02.png" alt="">
        <img class="c-hero-img c-chara03 c-sc1" src="~/assets/img-chara-03.png" alt="">
        <img class="c-hero-img c-chara04 c-sc1" src="~/assets/img-chara-04.png" alt="">
        <img class="c-hero-img c-chara05 c-sc2" src="~/assets/img-chara-05.png" alt="">
        <img class="c-hero-img c-chara06 c-sc4" src="~/assets/img-chara-06_02.png" alt="">
        <img class="c-hero-img c-chara07 c-sc4" src="~/assets/img-chara-07.png" alt="">
        <img class="c-hero-img c-chara08 c-sc1" src="~/assets/img-chara-08.png" alt="">
        <img class="c-hero-img c-chara09 c-sc1" src="~/assets/img-chara-09.png" alt="">
        <img class="c-hero-img c-chara10 c-sc1" src="~/assets/img-chara-10.png" alt="">
        <img class="c-hero-img c-chara12 c-sc3" src="~/assets/img-chara-12.png" alt="">
        <img class="c-hero-img c-chara13 c-sc3" src="~/assets/img-chara-13.png" alt="">
        <img class="c-hero-img c-chara15 c-sc2" src="~/assets/img-chara-15.png" alt="">
        <img class="c-hero-img c-chara19 c-sc2" src="~/assets/img-chara-19.png" alt="">
        <img class="c-hero-img c-chara20 c-sc2" src="~/assets/img-chara-20.png" alt="">
        <img class="c-hero-img c-chara21 c-sc3" src="~/assets/img-chara-21.png" alt="">
        <img class="c-hero-img c-mario04 c-sc5" src="~/assets/img-mario-04.png" alt="">
        <img class="c-hero-img c-luigi c-sc5" src="~/assets/luigi.png" alt="">
    </div>
</div>

<script>
    const delayTime = 10000
    function showScene(scNo) {
        const scEls = document.querySelectorAll(`.c-sc${scNo}`);

        // Thêm class 'c-showup'
        scEls.forEach(el => el.classList.add("c-showup"));

        // 10s sau: thêm class 'c-hide-in'
        setTimeout(() => {
            scEls.forEach(el => el.classList.add("c-hide-in"));
        }, delayTime);

        // 10.5s sau: xóa class 'c-showup'
        setTimeout(() => {
            scEls.forEach(el => el.classList.remove("c-showup"));
        }, delayTime + 500);

        // 11s sau: xóa class 'c-hide-in'
        setTimeout(() => {
            scEls.forEach(el => el.classList.remove("c-hide-in"));
        }, delayTime + 1000);
    }

    function showHeroLoop() {
        let i = 1;

        // Gọi scene đầu tiên sau 100ms
        setTimeout(() => {
            showScene(i);
            i++;

            // Cứ mỗi 10s, gọi scene tiếp theo
            setInterval(() => {
                showScene(i);
                i = (i % 5) + 1; // Nếu i > 5 thì quay về 1
            }, delayTime);
        }, 100);
    }
    showHeroLoop()
</script>
