<link rel="stylesheet" href="~/css/footer.style.css">
<footer class="footer">
    <div class="mask-clip"></div>
    <img class="block footer-decor" src="~/assets/img-block-01.png" alt="">
    <div class="pf__container">
        <img class="pipe" src="~/assets/img-chara-02.png" alt="">
        <img class="flower" src="~/assets/img-chara-02_02.png" alt="">
    </div>
    <div class="footer__cnt__containter">
        <div class="footer__contact__container">
            <div class="footer__contact__box">
                <input placeholder="メールを入力してください" type="text">
                <div class="contact_btn" onmouseover="hoverSend()" onmouseout="leaveSend()">
                    <div class="contact_btn_decor left"></div>
                    <span class="contact_btn_txt">送信する</span>
                    <div class="contact_btn_decor right"></div>
                </div>
                <img class="contact__btn__mushroom" src="~/assets/img-chara-01.png" alt="">
            </div>
        </div>
        <img class="footer__logo" src="~/assets/white-logo.png" alt="">
    </div>
</footer>

<script>
    function hoverSend(){
        const mushroom = document.querySelector(".contact__btn__mushroom")
        mushroom.classList.add("mr_show")
    }

    function leaveSend(){
        const mushroom = document.querySelector(".contact__btn__mushroom")
        mushroom.classList.remove("mr_show")
    }
</script>