@page "/auth"
@model mario_dsa_rp.Namespace.AuthModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Xác thực tài khoản";
    var isLogin = Model.View == "login";
}
<link rel="stylesheet" href="~/css/auth.style.css">
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="modal" id="messageModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" onclick="()=>Model.Message=null" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@Model.Message</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="auth-page @(isLogin ? "theme__mario" : "theme__luigi")">
    <img class="auth-logo" src="~/assets/white-logo.png" alt="">
    <div class="wallpaper"></div>
    <div class="clip-mask">
        <img class="@(isLogin ? "character__mario" : "character__luigi")"
            src="~/assets/@(isLogin ? "mario.png" : "luigi.png")" alt="loading fault" />
    </div>
    @if (isLogin)
    {
        <form method="post" asp-page-handler="Login" class="form">
            <h2 class="form__title">Đăng nhập</h2>
            <div class="form__fields">
                <input asp-for="Username" class="form__field" id="username_si" type="text" placeholder="Tên tài khoản" />
                <input asp-for="Passwords" class="form__field" id="passwords_si" type="password" placeholder="Mật khẩu" />
                <button type="submit" class="form__btn theme__mario">Vào ngay thôi!</button>
                <p class="form__article">Bạn không có tài khoản sao? <a asp-page="/auth" asp-route-view="register">Đăng ký ngay nhé!</a></p>
                <a class="form__article" href="">Bạn quên mật khẩu? </a>
            </div>
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="Register" class="form">
            <h2 class="form__title">Đăng ký</h2>
            <div class="form__fields">
                <input asp-for="FullName" class="form__field" id="fullname_su" type="text" placeholder="Họ và Tên" />
                <input asp-for="Username" class="form__field" id="username_su" type="text" placeholder="Tên tài khoản" />
                <input asp-for="Passwords" class="form__field" id="passwords_su" type="password" placeholder="Mật khẩu" />
                <button type="submit" class="form__btn theme__luigi">Đăng ký!</button>
                <p>Đã có tài khoản? <a asp-page="/auth" asp-route-view="login">Bắt đầu ngay thôi！</a></p>
            </div>
        </form>
    }
</div>


@section Scripts {
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const hasMessage = '@(string.IsNullOrEmpty(Model.Message) ? "false" : "true")';
            if (hasMessage === "true") {
                const modal = new bootstrap.Modal(document.getElementById('messageModal'));
                modal.show();
            }
        });
    </script>
}