@model HeaderViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/header.style.css">

<nav class="navbar">
    <div class="logo-container">
        <img class="logo" src="~/assets/black-logo.png" alt="">
    </div>
    <ul class="links">
        <div class="navbar__links__decor left"></div>
        <a class="links__item" asp-page="/Index">Trang chủ</a>
        <a class="links__item">Về MarioDSA</a>
        <a class="links__item">Liên lạc</a>
        <a class="links__item">Hỗ trợ</a>
        <div class="navbar__links__decor right"></div>
    </ul>
    @if(@Model.IsLogin){
        <div class="navbar__btn-container">
            <!--
            <div class="drop-down__container">
            </div>
            -->
            <div class="navbar__btn-container__box">
                <div class="navbar__btn-container__decor left"></div>
                <div class="navbar__btn register">
                    <span class="navbar__welcome">@Model.FullName</span>
                </div>
                <!--
                <form method="post" asp-page="/Index" asp-page-handler="Logout" asp-antiforgery="true">
                    <button type="submit" class="navbar__btn logout">ログアウト</button>
                </form>
                -->
                <div class="navbar__btn-container__decor right"></div>
            </div>
        </div>
    }else{
        <div class="navbar__btn-container">
            <div class="navbar__btn-container__decor left"></div>
            <a class="navbar__btn register" asp-area="" asp-page="/Auth/auth" asp-route-view="register">
                Đăng ký
            </a>
            <a class="navbar__btn login" asp-page="/Auth/auth" asp-route-view="login">
                Đăng nhập
            </a>
            <div class="navbar__btn-container__decor right"></div>
        </div>
    }
</nav>