.hero {
    position: relative;
    width: 100%;
    height: 650px;
    background-color: var(--mario-color);
    overflow: hidden;
}

.hero-pattern {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg-01.png");
    background-size: 25%;
}

.hero-img {
    width: 100px;
}

.block01 {
    position: absolute;
    height: 100px;
    width: auto;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: all .5s ease-in-out;
}

.block02 {
    position: absolute;
    height: 100px;
    width: auto;
    right: 25%;
    top: 0;
    transform: translateY(-100%);
}

.chara03 {
    position: absolute;
    height: 250px;
    width: auto;
    right: 2%;
    top: 2%;
    transform: translateX(150%);
}

.chara04 {
    position: absolute;
    height: 250px;
    width: auto;
    right: 50%;
    bottom: 100px;
    transform: translateX(-500%);
}

.chara05 {
    position: absolute;
    height: 60%;
    width: auto;
    left: 15%;
    bottom: 0;
    transform: scaleX(-1) translateX(-500%);
}

.chara08 {
    position: absolute;
    height: 150px;
    width: auto;
    left: 12%;
    bottom: 50%;
    transform: translateX(-300%);
}

.chara09 {
    position: absolute;
    height: 150px;
    width: auto;
    right: 5%;
    bottom: 100px;
    transform: translateX(300%);
}

.chara10 {
    position: absolute;
    height: 150px;
    width: auto;
    left: 25%;
    top: 100px;
    transform: translateX(-400%);
}

.chara15 {
    position: absolute;
    height: 40%;
    width: auto;
    right: 30%;
    bottom: 0;
    z-index: 2;
    transform: translateY(100%);
}

.chara19 {
    position: absolute;
    height: 45%;
    width: auto;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

.chara20 {
    position: absolute;
    height: 35%;
    width: auto;
    right: 25%;
    bottom: 45%;
    transform: translate(250%, 250%);
}

.chara07 {
    position: absolute;
    height: 50%;
    width: auto;
    left: 10%;
    bottom: 0;
    transform: translateX(-200%);
}

.chara06 {
    position: absolute;
    height: 160%;
    width: auto;
    right: -20%;
    top: -41%;
    transform: translateX(100%);
}

.chara12 {
    position: absolute;
    height: 60%;
    width: auto;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

.chara21 {
    position: absolute;
    height: 80%;
    width: auto;
    left: 10%;
    bottom: 0;
    transform: translateX(-200%);
}

.chara13 {
    position: absolute;
    height: 30%;
    width: auto;
    left: 45%;
    bottom: 0;
    transform: translateY(100%);
}

.mario04 {
    position: absolute;
    right: 0;
    top: -5%;
    width: auto;
    height: 140%;
    transform: rotateX(90deg);
}

.luigi {
    position: absolute;
    left: 5%;
    top: -5%;
    width: auto;
    height: 140%;
    transform: rotateX(90deg);
}

.sc1,
.sc2,
.sc3,
.sc4,
.sc5 {
    transition: all 1s ease-in-out;
}

.sc1.show,
.sc2.show,
.sc3.show,
.sc4.show,
.sc5.show {
    transform: translate(0, 0) rotateX(0);
}

.sc2.show.chara05 {
    transform: scaleX(-1) translate(0, 0);
}

.hide {
    opacity: 0;
}

.hero-txt-scroll {
    display: flex;
    align-items: center;
    column-gap: 200px;
    height: 100%;
    width: fit-content;
    animation: txt-scroll 55s linear infinite;
    position: relative;
}

.scroll-txt {
    display: inline-block;
    white-space: nowrap;
    font-size: 260px;
    font-weight: 900;
    color: #e0e0e0;
    font-family: var(--font-noto-sans);
}

@keyframes txt-scroll {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-110%);
    }
}