.c-hero {
    position: relative;
    width: 100%;
    height: 650px;
    background-color: var(--mario-color);
    overflow: hidden;
}

.c-hero-pattern {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg-01.png");
    background-size: 25%;
}

.c-hero-img {
    width: 100px;
}

.c-block01 {
    position: absolute;
    height: 100px;
    width: auto;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: all .5s ease-in-out;
}

.c-block02 {
    position: absolute;
    height: 100px;
    width: auto;
    right: 25%;
    top: 0;
    transform: translateY(-100%);
}

.c-chara03 {
    position: absolute;
    height: 250px;
    width: auto;
    right: 2%;
    top: 2%;
    transform: translateX(150%);
}

.c-chara04 {
    position: absolute;
    height: 250px;
    width: auto;
    right: 50%;
    bottom: 100px;
    transform: translateX(-500%);
}

.c-chara05 {
    position: absolute;
    height: 60%;
    width: auto;
    left: 15%;
    bottom: 0;
    transform: scaleX(-1) translateX(-500%);
}

.c-chara08 {
    position: absolute;
    height: 150px;
    width: auto;
    left: 12%;
    bottom: 50%;
    transform: translateX(-300%);
}

.c-chara09 {
    position: absolute;
    height: 150px;
    width: auto;
    right: 5%;
    bottom: 100px;
    transform: translateX(300%);
}

.c-chara10 {
    position: absolute;
    height: 150px;
    width: auto;
    left: 25%;
    top: 100px;
    transform: translateX(-400%);
}

.c-chara15 {
    position: absolute;
    height: 40%;
    width: auto;
    right: 30%;
    bottom: 0;
    z-index: 2;
    transform: translateY(100%);
}

.c-chara19 {
    position: absolute;
    height: 45%;
    width: auto;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

.c-chara20 {
    position: absolute;
    height: 35%;
    width: auto;
    right: 25%;
    bottom: 45%;
    transform: translate(250%, 250%);
}

.c-chara07 {
    position: absolute;
    height: 50%;
    width: auto;
    left: 10%;
    bottom: 0;
    transform: translateX(-200%);
}

.c-chara06 {
    position: absolute;
    height: 160%;
    width: auto;
    right: -20%;
    top: -41%;
    transform: translateX(100%);
}

.c-chara12 {
    position: absolute;
    height: 60%;
    width: auto;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

.c-chara21 {
    position: absolute;
    height: 80%;
    width: auto;
    left: 10%;
    bottom: 0;
    transform: translateX(-200%);
}

.c-chara13 {
    position: absolute;
    height: 30%;
    width: auto;
    left: 45%;
    bottom: 0;
    transform: translateY(100%);
}

.c-mario04 {
    position: absolute;
    right: 0;
    top: -5%;
    width: auto;
    height: 140%;
    transform: rotateX(90deg);
}

.c-luigi {
    position: absolute;
    left: 5%;
    top: -5%;
    width: auto;
    height: 140%;
    transform: rotateX(90deg);
}

.c-sc1,
.c-sc2,
.c-sc3,
.c-sc4,
.c-sc5 {
    transition: all 1s ease-in-out;
}

.c-sc1.c-showup,
.c-sc2.c-showup,
.c-sc3.c-showup,
.c-sc4.c-showup,
.c-sc5.c-showup {
    transform: translate(0, 0) rotateX(0);
}

.c-sc2.c-showup.c-chara05 {
    transform: scaleX(-1) translate(0, 0);
}

.c-hide-in {
    opacity: 0;
}

.c-hero-txt-scroll {
    display: flex;
    align-items: center;
    column-gap: 200px;
    height: 100%;
    width: fit-content;
    animation: txt-scroll 55s linear infinite;
    position: relative;
}

.c-scroll-txt-infi {
    display: inline-block;
    white-space: nowrap;
    font-size: 260px;
    font-weight: 900;
    color: #e0e0e0;
    font-family: var(--font-noto-sans);
}

@keyframes txt-scroll {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-110%);
    }
}
