.hero {
    position: relative;
    width: 100%;
    height: 650px;
    background-color: var(--mario-color);
    overflow: hidden;
}

.hero-pattern {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg-01.png");
    background-size: 25%;
}

.hero-img {
    width: 100px;
}

.block01 {
    position: absolute;
    height: 100px;
    width: auto;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: all .5s ease-in-out;
}

.block02 {
    position: absolute;
    height: 100px;
    width: auto;
    right: 25%;
    top: 0;
    transform: translateY(-100%);
}

.chara03 {
    position: absolute;
    height: 250px;
    width: auto;
    right: 2%;
    top: 2%;
    transform: translateX(150%);
}

.chara04 {
    position: absolute;
    height: 250px;
    width: auto;
    right: 50%;
    bottom: 100px;
    transform: translateX(-500%);
}

.chara05 {
    position: absolute;
    height: 60%;
    width: auto;
    left: 15%;
    bottom: 0;
    transform: scaleX(-1) translateX(-500%);
}

.chara08 {
    position: absolute;
    height: 150px;
    width: auto;
    left: 12%;
    bottom: 50%;
    transform: translateX(-300%);
}

.chara09 {
    position: absolute;
    height: 150px;
    width: auto;
    right: 5%;
    bottom: 100px;
    transform: translateX(300%);
}

.chara10 {
    position: absolute;
    height: 150px;
    width: auto;
    left: 25%;
    top: 100px;
    transform: translateX(-400%);
}

.chara15 {
    position: absolute;
    height: 40%;
    width: auto;
    right: 30%;
    bottom: 0;
    z-index: 2;
    transform: translateY(100%);
}

.chara19 {
    position: absolute;
    height: 45%;
    width: auto;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

.chara20 {
    position: absolute;
    height: 35%;
    width: auto;
    right: 25%;
    bottom: 45%;
    transform: translate(250%, 250%);
}

.chara07 {
    position: absolute;
    height: 50%;
    width: auto;
    left: 10%;
    bottom: 0;
    transform: translateX(-200%);
}

.chara06 {
    position: absolute;
    height: 160%;
    width: auto;
    right: -20%;
    top: -41%;
    transform: translateX(100%);
}

.chara12 {
    position: absolute;
    height: 60%;
    width: auto;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

.chara21 {
    position: absolute;
    height: 80%;
    width: auto;
    left: 10%;
    bottom: 0;
    transform: translateX(-200%);
}

.chara13 {
    position: absolute;
    height: 30%;
    width: auto;
    left: 45%;
    bottom: 0;
    transform: translateY(100%);
}

.mario04 {
    position: absolute;
    right: 0;
    top: -5%;
    width: auto;
    height: 140%;
    transform: rotateX(90deg);
}

.luigi {
    position: absolute;
    left: 5%;
    top: -5%;
    width: auto;
    height: 140%;
    transform: rotateX(90deg);
}

.sc1,
.sc2,
.sc3,
.sc4,
.sc5 {
    transition: all 1s ease-in-out;
}

.sc1.show,
.sc2.show,
.sc3.show,
.sc4.show,
.sc5.show {
    transform: translate(0, 0) rotateX(0);
}

.sc2.show.chara05 {
    transform: scaleX(-1) translate(0, 0);
}

.hide {
    opacity: 0;
}

.hero-txt-scroll {
    display: flex;
    align-items: center;
    column-gap: 200px;
    height: 100%;
    width: fit-content;
    animation: txt-scroll 55s linear infinite;
    position: relative;
}

.scroll-txt {
    display: inline-block;
    white-space: nowrap;
    font-size: 260px;
    font-weight: 900;
    color: #e0e0e0;
    font-family: var(--font-noto-sans);
}

@keyframes txt-scroll {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-110%);
    }
}


.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    background-image: repeating-linear-gradient(-45deg,
            #ffffff,
            #ffffff 15px,
            var(--bg-color) 15px,
            var(--bg-color) 30px);
}

.feature-mask-clip {
    mask-image: url(../assets/mask-jag.png);
    mask-repeat: repeat-x;
    mask-size: contain;
    position: absolute;
    width: 100%;
    height: 36px;
    top: -36px;
    left: 0;
    background-color: #ffffff;
    z-index: 7;
}

.feature-title__container {
    padding: 10px;
    background-color: var(--mario-color);
    border-radius: 15px;
}

.feature_title__group {
    text-align: center;
    padding: 20px 150px;
    background-color: var(--mario-color);
    border: 4px dotted var(--btn-primary-color);
    border-radius: 15px;
}

.feature-title {
    color: #e0e0e0;
}

.feature-title.eng {
    font-weight: 900;
    font-size: 50px;
    margin: 0;
}

.feature-title.jp {
    font-size: 18px;
    margin: 0;
}

.feature-content__container {
    display: flex;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 5px 30px;
}

.feature-content_slide {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    transition: all 1s ease-in-out;
    padding: 10px;
    border: 5px dotted #000000;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 300px;
}

.feature-content_slide.active {
    flex: 5;
}

.feature-content_slide.active .feature-content-txt__container {
    transform: scaleX(1);
}

.feature-content__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--mystery-box-color);
    box-shadow: 0px 0px 3px #000000 inset;
    cursor: pointer;
}

.feature-content__btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 3px 3px #000000;
}

.feature-content__btn__decor::before,
.feature-content__btn__decor::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--mystery-box-decor-color);
    box-shadow: 3px 3px 0 rgba(7, 1, 2, 0.16) inset;
    z-index: 5;
}

.feature-content__btn__decor.left::before {
    top: 5px;
    left: 5px;
}

.feature-content__btn__decor.left::after {
    bottom: 5px;
    left: 5px;
}

.feature-content__btn__decor.right::before {
    top: 5px;
    right: 5px;
}

.feature-content__btn__decor.right::after {
    bottom: 5px;
    right: 5px;
}

.feature-content__btn__clickme {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    left: -150%;
    animation: clickme-move 4s ease-in-out infinite;
}

.feature-content__btn__clickme span {
    width: fit-content;
}

.feature-content__btn__clickme svg {
    width: 50px;
}

@keyframes clickme-move {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
        /* Giữ nguyên trong 3s còn lại */
    }
}

.feature-content-txt__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

.feature-content-title {
    font-size: 20px;
    font-weight: 700;
}

.feature-content-txt {
    width: 400px;
    text-align: center;
    text-overflow: ellipsis;
}

.feature-chara {
    position: absolute;
    min-width: 150px;
    object-fit: contain;
}

#fc1 {
    width: 40%;
    min-width: 190px;
    bottom: -6%;
}

#fc2 {
    width: 30%;
    bottom: -15%;
}

#fc3 {
    width: 55%;
    min-width: 250px;
    bottom: 0;
}

#fc4 {
    width: 45%;
    min-width: 200px;
    bottom: -15%;
}

#fc5 {
    width: 70%;
    min-width: 290px;
    bottom: -15%;
}

#fc6 {
    width: 50%;
    min-width: 200px;
    bottom: -5%;
}