@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-noto-sans: 'Noto Sans', sans-serif;
  --mario-color: #e60013;
  --mario-secondary-color: #b4000c;
  --luigi-color:#5dc95e;
  --luigi-secondary-color:#117025;
  --bg-color: #eeeeee;
  --shadow-color:#cfcfcf;
  --border-color:#e0e0e0;
  --mystery-box-color:#e8c100;
  --mystery-box-decor-color:#c19d1d;
  --btn-primary-color: #ffd000;
  --btn-primary-txt-color: #5c1801;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto);
}

.page{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-color);
  background-color: #1a1a1a; /* Màu nền chính */
}

.navbar{
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 80px;
}

.logo-container{
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.logo{
  height: 250%;
  object-fit: 200%;
  cursor: pointer;
}

.links{
  position: relative;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.links__item{
  position: relative;
  display: block;
  flex: 1;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
  color: var(--btn-primary-txt-color);
  cursor: pointer;
  transition: color .3s ease-in;
}

.links__item:hover,
.navbar__btn:hover
{
  color: var(--mario-color);
}

.navbar__btn-container,.links{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  background-color: var(--btn-primary-color);
  box-shadow: 5px 5px 1px var(--shadow-color);
}

.navbar__btn-container__decor::before,
.navbar__btn-container__decor::after,
.navbar__links__decor::before,
.navbar__links__decor::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f08200;
  box-shadow: 1px 1px 0 rgba(7, 1, 2, 0.16) inset;
  z-index: 5;
}

.navbar__btn-container__decor.left::before,
.navbar__links__decor.left::before
{
  top: 5px;
  left: 5px;
}

.navbar__btn-container__decor.left::after,
.navbar__links__decor.left::after
{
  bottom: 5px;
  left: 5px;
}

.navbar__btn-container__decor.right::before,
.navbar__links__decor.right::before
{
  top: 5px;
  right: 5px;
}

.navbar__btn-container__decor.right::after,
.navbar__links__decor.right::after
{
  bottom: 5px;
  right: 5px;
}

.navbar__btn{
  position: relative;
  padding: 0 20px;
  flex: 1;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--btn-primary-color);
  color: var(--btn-primary-text-color);
  text-decoration: none;
  transition: color .3s ease-in;
  cursor: pointer;
}

.navbar__btn:not(:nth-last-child(2))::after,
.links__item:not(:nth-last-child(2))::after
{
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 100%;
  border-right: 1px solid var(--btn-primary-txt-color);
}
