<link rel="stylesheet" href="~/css/challengeTopic.style.css">
<div class="challenge-topic-container">
    <div class="challenge-title__container">
        <div class="challenge_title__group">
            <h3 class="challenge-title eng">Challenges</h3>
            <h3 class="challenge-title jp">チャレンジ</h3>
        </div>
    </div>
    <img class="challenge-block-background" src="~/assets/img-block-01.png" alt="">
    <img class="challenge-chara-background" src="~/assets/mario-background.png" alt="">
    <div class="challenge-list-container">
        <div class="challenge-container">
            <div class="challenge-container_icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#ffffff" class="bi bi-backpack" viewBox="0 0 16 16">
                    <path d="M4.04 7.43a4 4 0 0 1 7.92 0 .5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10z"/>
                    <path d="M6 2.341V2a2 2 0 1 1 4 0v.341c2.33.824 4 3.047 4 5.659v5.5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5V8a6 6 0 0 1 4-5.659M7 2v.083a6 6 0 0 1 2 0V2a1 1 0 0 0-2 0m1 1a5 5 0 0 0-5 5v5.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V8a5 5 0 0 0-5-5"/>
                </svg>
            </div>
            <p class="challenge-container__description">
                Lorem ipsum dolor sit amet consectetur
            </p>
            <div class="challenge-container__btn" onclick="window.location.href='/challenge/knap-sack/selecting'">
                <div class="challenge-container__btn_decor left"></div>
                はいる!
                <div class="challenge-container__btn_decor right"></div>
            </div>
        </div>
        <div class="challenge-container">
            <div class="challenge-container_icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#ffffff" class="bi bi-diagram-3-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5z"/>
</svg>
            </div>
            <p class="challenge-container__description">
                Lorem ipsum dolor sit amet consectetur
            </p>
            <div class="challenge-container__btn">
                <div class="challenge-container__btn_decor left"></div>
                はいる!
                <div class="challenge-container__btn_decor right"></div>
            </div>
        </div>
        <div class="challenge-container">
            <div class="challenge-container_icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#ffffff" class="bi bi-layers-fill" viewBox="0 0 16 16">
                    <path d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882z"/>
                    <path d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0z"/>
                </svg>
            </div>
            <p class="challenge-container__description">
                Lorem ipsum dolor sit amet consectetur
            </p>
            <div class="challenge-container__btn">
                <div class="challenge-container__btn_decor left"></div>
                はいる!
                <div class="challenge-container__btn_decor right"></div>
            </div>
        </div>
        <div class="challenge-container">
            <div class="challenge-container_icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#ffffff" class="bi bi-three-dots" viewBox="0 0 16 16">
  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
</svg>
            </div>
            <p class="challenge-container__description">
                Lorem ipsum dolor sit amet consectetur
            </p>
            <div class="challenge-container__btn">
                <div class="challenge-container__btn_decor left"></div>
                もすぐ調べる
                <div class="challenge-container__btn_decor right"></div>
            </div>
        </div>
    </div>
</div>